<div class = "menubar">
	<%= link_to "Trang Chủ", :action => 'index' %>
	<%= link_to "Giới Thiệu", :action => 'gioithieu' %>
	<%= link_to "Thanh Qui", :action => 'thanhqui' %>
	<%= link_to "Thuyết Pháp", :action => 'thuyetphap' %>
	<%= link_to "Kinh Sách", :action => 'kinhsach' %>
	<%= link_to "Sinh Hoạt", :action => 'sinhhoat' %>
	<%= link_to "Hình Ảnh", :action => 'hinhanh' %>
	<%= link_to "Phim Video", :action => 'video' %>
	<%= link_to "Phật Pháp Online", :action => 'phatphaponline' %>
	<%= link_to "Liên Lạc", :action => 'lienlac' %>
	
</div>
