<%= render(:partial => "header") %>
<%= render(:partial => "menubar") %>
<br>
<h2 align = "center"> <%= raw @title %> </h2>
<div class = "bang">
	<br>
	<div class = "lotus">
		<%= image_tag('lotus.png', :size => '80x30' ) %>
	</div>

	<table>
		<tr>
			<th> STT </th>
			<th> Tựa Đề </th>
			<th>Dung Lượng</th>
			<th>Ngày Giảng</th>
			<th>Audio</th>
		</tr>
		<tr class = "even">
			<td>1</td>
			<td>An vui & giải thoát</td>
			<td>724 MB</td>
			<td>...</td>
			<td class = "buttons">
				<div class = "track_button">
					<%= link_to '<p>1</p>'.html_safe, :action => 'audio_play', :title => 'Track 01' %>
				</div>
				<div class = "track_button"><%= link_to '<p>2</p>'.html_safe, :action => 'audio_play', :title => 'Track 02' %>
				</div>
				<div class = "track_button"><%= link_to '<p>3</p>'.html_safe, :action => 'audio_play', :title => 'Track 03' %>
				</div>
			</td>
		</tr>
		<tr class = "odd">
			<td>1</td>
			<td>An vui & giải thoát</td>
			<td>724 MB</td>
			<td>...</td>
			<td class = "buttons">
				<div class = "track_button">
					<%= link_to '<p>1</p>'.html_safe, :action => 'audio_play', :title => 'Track 01' %>
				</div>
				<div class = "track_button"><%= link_to '<p>2</p>'.html_safe, :action => 'audio_play', :title => 'Track 02' %>
				</div>
				<div class = "track_button"><%= link_to '<p>3</p>'.html_safe, :action => 'audio_play', :title => 'Track 03' %>
				</div>
			</td>
		</tr>
		<tr class = "even">
			<td>1</td>
			<td>An vui & giải thoát</td>
			<td>724 MB</td>
			<td>...</td>
			<td class = "buttons">
				<div class = "track_button"><%= link_to '<p>1</p>'.html_safe, :action => 'audio_play', :title => 'Track 01' %>
				</div>
				<div class = "track_button"><%= link_to '<p>2</p>'.html_safe, :action => 'audio_play', :title => 'Track 02' %>
				</div>
				<div class = "track_button"><%= link_to '<p>3</p>'.html_safe, :action => 'audio_play', :title => 'Track 03' %>
				</div>
			</td>
		</tr>
		<tr class = "odd">
			<td>1</td>
			<td>An vui & giải thoát</td>
			<td>724 MB</td>
			<td>...</td>
			<td class = "buttons">
				<div class = "track_button">
					<%= link_to '<p>1</p>'.html_safe, :action => 'audio_play', :title => 'Track 01' %>
				</div>
				<div class = "track_button"><%= link_to '<p>2</p>'.html_safe, :action => 'audio_play', :title => 'Track 02' %>
				</div>
				<div class = "track_button"><%= link_to '<p>3</p>'.html_safe, :action => 'audio_play', :title => 'Track 03' %>
				</div>
			</td>
		</tr>
		<tr class = "even">
			<td>1</td>
			<td>An vui & giải thoát</td>
			<td>724 MB</td>
			<td>...</td>
			<td class = "buttons">
				<div class = "track_button">
					<%= link_to '<p>1</p>'.html_safe, :action => 'audio_play', :title => 'Track 01' %>
				</div>
				<div class = "track_button"><%= link_to '<p>2</p>'.html_safe, :action => 'audio_play', :title => 'Track 02' %>
				</div>
				<div class = "track_button"><%= link_to '<p>3</p>'.html_safe, :action => 'audio_play', :title => 'Track 03' %>
				</div>
			</td>
		</tr>
	
		
	</table>
	

	<!-- we can use "h @link" or "@link.html_safe" -->
</div>
<br>
<%= render(:partial => "footer") %>