<%= render(:partial => "header") %>
<%= render(:partial => "menubar") %>
<h1 class = "gioithieu_header" align="center"> Nam Mô Phật Bổn Sư Thích Ca Mâu Ni</h1>
<div class = "gioithieu_banner"> <%= image_tag ("TVVU_banner2015.jpg") %> </div>
<div class = "gioithieu">
<h2 align="center"> Giới Thiệu Sơ Lược Thiền Viện Vô Ưu</h2>
<br>
<p> Thiền Tông Việt nam đã được khôi phục và ngày một lớn mạnh trong ba thập niên cuối thế kỷ 20, dưới sự hướng dẫn củ Hoà Thượng THÍCH THANH TỪ, là VIỆN TRƯỞNG CÁC THIỀN VIỆN trong nước và HỘI TRƯỞNG HỘI THIỀN HỌC VIỆT NAM tại hải ngoại.</p>
<br>
<p> Đầu thế kỷ 21, các Thiền Viện nước ngoài lần lượt được thành lập để đáp ứng như cầu tu Thiền của Phật tử hải ngoại.</p>
<br>
<p> Tháng 11 năm 2002 Hoà Thượng đã từ bi chấp thuận chứng minh thành lập THIẾN VIỆN VÔ ƯU</p> 
<p> Tại địa chỉ 1300 CHURCH AVE, SAN MARTIN, CA 95046.</p>
<br>
<p> Do hai Phật tử CHÁNH QUÁN NGHIÊM và CHƠN NIỆM TRANG đã phát tâm rộng lớn dâng cúng ngôi tư gia tại địa chỉ trên để thành lập thin viện. Các Phật tử xa gần đã hoan hỷ đồng hưởng ứng đóng góp tài chánh để tiếp tục trả phần tiền nợ nhà còn thiếu.</p>
<br>
<p> Trụ trì hiện tại: 	THÍCH NỮ ĐỒNG KÍNH</b></p>
<P> Thư ký:				THÍCH NỮ VIÊN KHOAN</P>
<P> Thủ quỷ:			THÍCH NỮ KHÁNH NHẬT</P>
<br>
<p> Trên vùng đất nông trang không xa thành phố, giữa thung lũng hoa vàng có núi xanh bao quanh, Thiền viện Vô Ưu rộng hơn 4.6 mẫu tây, là nơi tu học thật tĩnh lặng theo chủ trương và đường lối TU THIỀN BIẾT CÓ CHÂN TÂM mà Hoà Thượng THÍCH THANH TỪ đã khai sáng.</p>
<br>
<p> Thời khoá tu học tại Thiền viện rất đều đặn và nghiem túc, với số Ni chúng thường trụ có 8 người, cùng với số Ni chúng ở thiền thất thường xuyên về tu học cuối tuần nâng số ni chúng lên 15 người. Từ ngày thành lập đến nay, Thiện Viện Vô Ưu mỗi năm đều kiết giới AN CƯ với số Ni chúng tham dự gần 30 người.</p>
<p> Phật tử Việt Nam tu học đều đặn vào ngày chủ nhật mỗi tuần, các Phật tử ở xa có thể vào online để cùng nghe pháp nhữ. Thiền sinh người Mỹ được hướng dẫn ngồi thiền và học lớp Phật Pháp bằng tiếng Anh mỗi sáng thứ ba hàng tuần.</p>
<br>
<p> Để giữa gìn nếp sống thuận hoà đạo đức của người Phật tử Việt Nam, việc hướng dẫn thiếu nhi Phật tử về chùa học đạo là một nhu cầu cấp thiết. Mỗi tháng có một ngày sinh hoạt Phật Pháp dành cho tuổi trẻ.</p>
<br>
<p> Phật tử cũng có KHOÁ TU THỌ BÁT QUAN TRAI mỗi tháng một lần vào ngày thứ bảy, tuần lễ thứ ba trong thánhg. Thiền giáo đồng hành, mọi người lòng tin càng sâu...Phật tử từng bước vững chắc "sống đời vui đạo tuỳ duyên."</p>
<br>
<p> Tu, học và lao động là gia phong, là nếp sống của Thiền viện. Ngoài việc tu học, Ni chúng cũng được phân chia công tác lao động hàng ngày theo các ban hương đăng, ban tri khách, ban vườn, ban hoa, ban nhà bếp...</p>
<br>
<p>Thứ bảy cuối tuần các Phật tử cũng về Thiền viện công tác lao động cùng với Ni chúng trong các ban làm cỏ, ban làm rẩy, ban bảo trì, ban phát hành CD, DVD... và chia nhau phụ trách bếp an hàng tuần tại Thiền viện để Phật tử xa gần có được không khí ấm cúng trong lúc thọ trai khi về Thiền viện tu học...</p>
<br>
<p> Để các Phật tử phương xa có thể theo dõi sự sinh hoạt tại Thiền Viện qua hình ảnh, và có thể nghe lại những bài giảng hàng tuần tại Thiện Viện Vô Ưu, xin vào trang web www.thienvienvouu.com.</p>
<br>
<p> Thiền Viện Vô Ưu sẽ là mái nhà chung của tất cả những ai có duyên một lần ghé thăm...</p>
<br>
<div class="poem">
<p>Đi xa buồn nhớ quê hương,</p>
<p>Mái chùa ấm áp tình thương muôn loài, </p>
<p>Thắp lên đuốc sáng rạng ngời,</p>
<p>Xua tan sầu khổ cho đời an vui.</p>
</div>
<p> San Martin, Mùa Đông 2008
<p> Thuần Thành
</div>
<h3 align="center"> Quang Cảnh Thiền Viện Vô Ưu</h3>
<br>
<div class = "container">
	<div class = "quangcanh"><%= image_tag("tuongphat.png", :size => "300x200") %></div>
	<p>Tôn Tượng Phật Bổn Sư Thích Ca Mâu Ni</p>
</div>
<div class = "container">
	<div class = "quangcanh"><%= image_tag("vouu1.jpg", :size => "300x200") %></div>
	<p>Tôn Tượng Phật Bổn Sư Thích Ca Mâu Ni</p>
</div>
<div class = "container">
	<div class = "quangcanh"><%= image_tag("vouu2.jpg", :size => "300x200") %></div>
	<p>Tôn Tượng Phật Bổn Sư Thích Ca Mâu Ni</p>
</div>
<div class = "container">
	<div class = "quangcanh"><%= image_tag("vouu3.jpg", :size => "300x200") %></div>
	<p>Tôn Tượng Phật Bổn Sư Thích Ca Mâu Ni</p>
</div>
<div class = "container">
	<div class = "quangcanh"><%= image_tag("vouu4.jpg", :size => "300x200") %></div>
	<p>Tôn Tượng Phật Bổn Sư Thích Ca Mâu Ni</p>
</div>
<div class = "container">
	<div class = "quangcanh"><%= image_tag("vouu5.png", :size => "300x200") %></div>
	<p>Tôn Tượng Phật Bổn Sư Thích Ca Mâu Ni</p>
</div>
<div class = "container">
	<div class = "quangcanh"><%= image_tag("vouu6.gif", :size => "300x200") %></div>
	<p>Tôn Tượng Phật Bổn Sư Thích Ca Mâu Ni</p>
</div>
<div class = "container">
	<div class = "quangcanh"><%= image_tag("vouu7.gif", :size => "300x200") %></div>
	<p>Tôn Tượng Phật Bổn Sư Thích Ca Mâu Ni</p>
</div>
<div class = "container">
	<div class = "quangcanh"><%= image_tag("vouu8.gif", :size => "300x200") %></div>
	<p>Tôn Tượng Phật Bổn Sư Thích Ca Mâu Ni</p>
</div>
<div class = "container">
	<div class = "quangcanh"><%= image_tag("vouu9.gif", :size => "300x200") %></div>
	<p>Tôn Tượng Phật Bổn Sư Thích Ca Mâu Ni</p>
</div>
<div class = "container">
	<div class = "quangcanh"><%= image_tag("vouu10.gif", :size => "300x200") %></div>
	<p>Tôn Tượng Phật Bổn Sư Thích Ca Mâu Ni</p>
</div>
<div class = "container">
	<div class = "quangcanh"><%= image_tag("vouu11.jpg", :size => "300x200") %></div>
	<p>Tôn Tượng Phật Bổn Sư Thích Ca Mâu Ni</p>
</div>
<div class = "container">
	<div class = "quangcanh"><%= image_tag("vouu12.gif", :size => "300x200") %></div>
	<p>Tôn Tượng Phật Bổn Sư Thích Ca Mâu Ni</p>
</div>
<br>

<%= render(:partial => "menubar") %>
<%= render(:partial => "footer") %>
