<%= render(:partial => "header") %>
<%= render(:partial => "menubar") %>
<br>
<h2 align="center">HÌNH ẢNH </h2>
<div class = "hinhanh">
	<br>
	<div class = "lotus">
		<%= image_tag('lotus.png', :size => '80x30' ) %>
	</div>
	<br>

	<table>
		<tr>
			<th> Tựa Đề </th>
			<th> Ngày Đăng </th>
		</tr>
		<tr class = "even">
			<td class = "link"><%= link_to('Sinh Nhật Thiền Viện Vô Ưu 13 Tuổi', 'https://picasaweb.google.com/113086335465407471226/LeKyNiemTVVU13Tuoi', :target => '_blank') %></td>
			<td>...</td>
		</tr>
		<tr class = "odd">
			<td class = "link"><%= link_to('Sinh Nhật Thiền Viện Vô Ưu 12 Tuổi','https://picasaweb.google.com/113086335465407471226/LeKyNiemTVVU12Tuoi', :target => '_blank') %></td>
			<td>...</td>
		</tr>
		<tr class = "even">
			<td class = "link"><%= link_to('Xuân 2015','https://picasaweb.google.com/113086335465407471226/Xuan2015', :target => '_blank') %></td>
			<td>...</td>
		</tr>
		<tr class = "odd">
			<td class = "link"><%= link_to('Lễ Phật Đản 2015','https://picasaweb.google.com/113086335465407471226/LePhatDan2015', :target => '_blank') %></td>
			<td>...</td>
		</tr>
		<tr class = "even">
			<td class = "link"><%= link_to('Lễ Vu Lan 2015','https://picasaweb.google.com/113086335465407471226/LeVuLan2015', :target => '_blank') %></td>
			<td>...</td>
		</tr>
		<tr class = "odd">
			<td class = "link"><%= link_to('Lễ Vu Lan 2013','https://picasaweb.google.com/113086335465407471226/LeVuLan2013#', :target => '_blank') %></td>
			<td>...</td>
		</tr>
		<tr class = "even">
			<td class = "link"><%= link_to('Sinh Nhật Thiền Viện Vô Ưu 11 Tuổi','https://picasaweb.google.com/113086335465407471226/LeKyNiemTVVU11Tuoi#', :target => '_blank') %></td>
			<td>...</td>
		</tr>
		<tr class = "odd">
			<td class = "link"><%= link_to('Lễ Phật Đản 2014','https://picasaweb.google.com/113086335465407471226/LePhatDan2014#', :target => '_blank') %></td>
			<td>...</td>
		</tr>
		<tr class = "even">
			<td class = "link"><%= link_to('Lễ Vu Lan 2014' , 'https://picasaweb.google.com/113086335465407471226/LeVuLan2014', :target => '_blank') %></td>
			<td>...</td>
		</tr>
		<tr class = "odd">
			<td class = "link"><%= link_to('Lễ Vu Lan 2012','https://picasaweb.google.com/108092542839698143012/LeVuLan2012?feat=flashalbum#5784930951883827922', :target => '_blank') %></td>
			<td>...</td>
		</tr>
		<tr class = "even">
			<td class = "link"><%= link_to('Sinh Nhật Thiền Viện Vô Ưu 10 Tuổi' ,'https://picasaweb.google.com/113086335465407471226/LeKyNiemTVVU10Tuoi#', :target => '_blank') %></td>
			<td>...</td>
		</tr>
		<tr class = "odd">
			<td class = "link"><%= link_to('Xuân 2013' ,'https://picasaweb.google.com/113086335465407471226/Xuan2013#', :target => '_blank') %></td>
			<td>...</td>
		</tr>
		<tr class = "even">
			<td class = "link"><%= link_to('Lễ Phật Đản 2013','https://picasaweb.google.com/113086335465407471226/LePhatDan2013#', :target => '_blank') %></td>
			<td>...</td>
		</tr>
		<tr class = "odd">
			<td class = "link"><%= link_to('Lễ Vu Lan 2011','https://picasaweb.google.com/108092542839698143012/LeVuLan2011#' , :target => '_blank') %></td>
			<td>...</td>
		</tr>
		<tr class = "even">
			<td class = "link"><%= link_to('Xuân 2012', 'https://picasaweb.google.com/108092542839698143012/TVVUXuan2012#',:target => '_blank') %></td>
			<td>...</td>
		</tr>
		<tr class = "odd">
			<td class = "link"><%= link_to('Sinh Nhật Thiền Viện Vô Ưu 9 Tuổi','https://picasaweb.google.com/108092542839698143012/LeTVVU9Tuoi#',:target => '_blank') %></td>
			<td>...</td>
		</tr>
		<tr class = "even">
			<td class = "link"><%= link_to('Lễ Phật Đản 2012','https://picasaweb.google.com/108092542839698143012/LePhatDan2012#', :target => '_blank') %></td>
			<td>...</td>
		</tr>
		<tr class = "odd">
			<td class = "link"><%= link_to('Lễ Phật Đản 2011','https://picasaweb.google.com/108092542839698143012/LePhatDan2011#', :target => '_blank') %></td>
			<td>...</td>
		</tr>
		<tr class = "even">
			<td class = "link"><%= link_to('Xuân 2011','https://picasaweb.google.com/108092542839698143012/TVVUXuan2011#', :target => '_blank') %></td>
			<td>...</td>
		</tr>
		<tr class = "odd">
			<td class = "link"><%= link_to('Lễ Phật Đản 2010','https://picasaweb.google.com/108092542839698143012/LePhatDan2010#', :target => '_blank') %></td>
			<td>...</td>
		</tr>
		<tr class = "even">
			<td class = "link"><%= link_to('Lễ Vu Lan 2010','https://picasaweb.google.com/108092542839698143012/LeVuLan2010#',:target => '_blank') %></td>
			<td>...</td>
		</tr>
		<tr class = "odd">
			<td class = "link"><%= link_to('Sinh Nhật Thiền Viện Vô Ưu 8 Tuổi','https://picasaweb.google.com/108092542839698143012/LeTVVU8Tuoi#', :target => '_blank') %></td>
			<td>...</td>
		</tr>
		<tr class = "even">
			<td class = "link"><%= link_to('Xuân 2010','https://picasaweb.google.com/108092542839698143012/TVVUXuan2010#', :target => '_blank') %></td>
			<td>...</td>
		</tr>
		<tr class = "odd">
			<td class = "link"><%= link_to('Tiệc Gây Quỹ 08/2009','https://picasaweb.google.com/108092542839698143012/TiecGayQuy2009#',:target => '_blank') %></td>
			<td>...</td>
		</tr>
		<tr class = "even">
			<td class = "link"><%= link_to('Lễ Vu Lan 2009' ,'https://picasaweb.google.com/108092542839698143012/LeVuLan2009#',:target => '_blank') %></td>
			<td>...</td>
		</tr>
		<tr class = "odd">
			<td class = "link"><%= link_to('Lễ Phật Đản 2008','https://picasaweb.google.com/108092542839698143012/LePhatDan2008#',:target => '_blank') %></td>
			<td>...</td>
		</tr>
		<tr class = "even">
			<td class = "link"><%= link_to('Lễ Phật Đản 2009', 'https://picasaweb.google.com/108092542839698143012/LePhatDan2009#',:target => '_blank') %></td>
			<td>...</td>
		</tr>
		<tr class = "odd">
			<td class = "link"><%= link_to('Lễ Vu Lan 2008', 'https://picasaweb.google.com/108092542839698143012/LeVuLan2008#',:target => '_blank') %></td>
			<td>...</td>
		</tr>
		<tr class = "even">
			<td class = "link"><%= link_to('Lễ Phật Đản 2007', 'https://picasaweb.google.com/108092542839698143012/LePhatDan2007#',:target => '_blank') %></td>
			<td>...</td>
		</tr>
		<tr class = "odd">
			<td class = "link"><%= link_to('Lễ Vu Lan 2007', 'https://picasaweb.google.com/108092542839698143012/LeVuLan2007#',:target => '_blank') %></td>
			<td>...</td>
		</tr>
		<tr class = "even">
			<td class = "link"><%= link_to('Sinh Nhật Thiền Viện Vô Ưu 5 Tuổi', 'https://picasaweb.google.com/108092542839698143012/LeTVVU5Tuoi#',:target => '_blank') %></td>
			<td>...</td>
		</tr>
		<tr class = "odd">
			<td class = "link"><%= link_to('Lễ Vu Lan 2006', 'https://picasaweb.google.com/108092542839698143012/LeVuLan2006#',:target => '_blank') %></td>
			<td>...</td>
		</tr>
		<tr class = "even">
			<td class = "link"><%= link_to('Lệ Dưng Cúng Thiền Viện Vô Ưu', 'https://picasaweb.google.com/108092542839698143012/LeCungDuong2002#', :target => '_blank') %></td>
			<td>...</td>
		</tr>
		
	</table>


</div>
<br>
<%= render(:partial => "footer") %>