

<link href="assets/javascripts/js-image-slider.css" rel="stylesheet" type="text/css" />
<script src="assets/javascripts/js-image-slider.js" type="text/javascript"></script>

<%= render(:partial => "header") %>
<%= render(:partial => "menubar") %>
<div class = "thungo">
	<%= image_tag('thungo2.png', :size => '800x1131') %>
</div>


<!-- 	<div id="sliderFrame">
    <div id="slider">
      <%= image_tag('image-slider-1.jpg') %>
      <%= image_tag('image-slider-2.jpg') %>
      <%= image_tag('image-slider-3.jpg') %>
      <%= image_tag('image-slider-4.jpg') %>
      <%= image_tag('image-slider-5.jpg') %>
      <%= image_tag('image-slider-6.jpg') %>
      <%= image_tag('image-slider-7.jpg') %>
      <%= image_tag('image-slider-8.jpg') %>
    
    </div>
  </div> -->

<div class = "quote"> 
	<p> "Happiness or sorrow- whatever befalls you, walk on untouched, unattached."
	<p> - Buddha -
</div>
<div class = "lotus">
	<%= image_tag('lotus.png', :size => '80x30', :class => 'underquote' ) %>
</div>
<div class="contact_background">
<div class = "contact"> 
	<h5> Liên hệ </h5>
	<p>1300 Church Ave
	<p>San Martin, CA 95046
	<p>Telephone: 408 683 4498
	<p>Email: vouuthienvien@yahoo.com
</div>
</div>
<%= render(:partial => "footer") %>
