<%= render(:partial => "header") %>
<%= render(:partial => "menubar") %>
<br>
<h2 align="center">KINH SÁCH </h2>
<div class = "kinhsach">
	<br>
	<div class = "lotus">
		<%= image_tag('lotus.png', :size => '80x30' ) %>
	</div>
	<br>
	<h4 align="center">Kinh Sách, Pháp Luận, Phật Học, và Sử Phật Giáo Do Hòa Thượng THÍCH THANH TỪ Dịch Và Trước Tác.</h4>
	<br>
	<h5> KINH </h5>
	<br>
	<p class = 'link'>1. <%= link_to 'Bát nhã Tâm Kinh giảng giải (1998)', 'http://www.thuong-chieu.org/uni/KinhSachThiKe/Kinh/BatNhaTamKinh/TRANG_CHINH.htm',:target => '_blank' %></p>
	<p class = 'link'>2. <%= link_to 'Kinh Bác Đại Nhân Giác giảng giải (1997)', 'http://www.thuong-chieu.org/uni/KinhSachThiKe/Kinh/BatDaiNhanGiac/TRANG_CHINH.htm',:target => '_blank' %></p>
	<p class = 'link'>3. <%= link_to 'Kinh Bác nhã giảng giải (2000)', 'http://www.thuong-chieu.org/uni/KinhSachThiKe/Kinh/BatNha/TRANG_CHINH.htm',:target => '_blank' %></p>
	<p class = 'link'>4. <%= link_to 'Kinh Diệu Pháp Liên Hoa giảng giải (1993/2000)', 'http://www.thuong-chieu.org/uni/KinhSachThiKe/Kinh/DieuPhapLienHoa/TRANG_CHINH.htm',:target => '_blank' %></p>
	<p class = 'link'>5. <%= link_to 'Kinh Kim Cang giảng giải (1997)', 'http://www.thuong-chieu.org/uni/KinhSachThiKe/Kinh/KinhKimCang/TRANG_CHINH.htm',:target => '_blank' %></p>
	<p class = 'link'>6. <%= link_to 'Kinh Lăng-già Tâm Ấn (dịch 1993/1997)', 'http://www.thuong-chieu.org/uni/KinhSachThiKe/Kinh/LangGiaTamAn/TRANG_CHINH.htm',:target => '_blank' %></p>
	<p class = 'link'>7. <%= link_to 'Kinh Thập Thiện giảng giải (1993/1998)', 'http://www.thuong-chieu.org/uni/KinhSachThiKe/Kinh/KinhThapThien/TRANG_CHINH.htm',:target => '_blank' %></p>
	<p class = 'link'>8. <%= link_to 'Kinh Viên Giác giảng giải (2000)', 'http://www.thuong-chieu.org/uni/KinhSachThiKe/Kinh/KinhVienGiac/TRANG_CHINH.htm',:target => '_blank' %></p>
	<br>
	<h5> LUẬN </h5>
	<br>
	<p class = 'link'>1. <%= link_to 'Bích Nham Lục (dịch 1995/2002)', 'http://www.thuong-chieu.org/uni/KinhSachThiKe/Luan/BichNhamLuc/TRANG_CHINH.htm',:target => '_blank' %></p>
	<p class = 'link'>2. <%= link_to 'Kinh Pháp Bảo Đàn giảng giải (1993/1999)', 'http://www.thuong-chieu.org/uni/KinhSachThiKe/Luan/PhapBaoDan/TRANG_CHINH.htm',:target => '_blank' %></p>
	<p class = 'link'>3. <%= link_to 'Thiền Căn Bản (dịch 1993/1999)', 'http://www.thuong-chieu.org/uni/KinhSachThiKe/Luan/ThienCanBan/TRANG_CHINH.htm',:target => '_blank' %></p>
	<p class = 'link'>4. <%= link_to 'Thiền Đốn Ngộ (dịch 1973/1999)', 'http://www.thuong-chieu.org/uni/KinhSachThiKe/Luan/ThienDonNgo/TRANG_CHINH.htm',:target => '_blank' %></p>
	<p class = 'link'>5. <%= link_to 'Thiền Sư Thần Hội giảng giải (2001/2002)', 'http://www.thuong-chieu.org/uni/KinhSachThiKe/Luan/ThienSuThanHoi/TRANG_CHINH.htm',:target => '_blank' %></p>
	<p class = 'link'>6. <%= link_to 'Truyền Tâm Pháp Yếu giảng giải (2007)', 'http://www.thuong-chieu.org/uni/KinhSachThiKe/Luan/TruyenTamPhapYeu/TRANG_CHINH.htm',:target => '_blank' %></p>
	<br>
	<h5> SỬ </h5>
	<br>
	<p class = 'link'>1. <%= link_to 'Thiền Sư Việt Nam (1991/1995/1999)', 'http://www.thuong-chieu.org/uni/KinhSachThiKe/Su/ThienSuVietNam/TRANG_CHINH.htm',:target => '_blank' %></p>
</div>
<br>
<%= render(:partial => "footer") %>






















