<%= render(:partial => "header") %>
<%= render(:partial => "menubar") %>
<br>
<h2 align="center">PHẬT PHÁP ONLINE  </h2>
<div class = "online">
	<br>
	<div class = "lotus">
		<%= image_tag('lotus.png', :size => '80x30' ) %>
	</div>
	<br>
	<%= image_tag('phatphaponline.jpg', :size => '1000x642') %>

</div>
<br>
<%= render(:partial => "footer") %>