<%= render(:partial => "header") %>
<%= render(:partial => "menubar") %>
<br>
<h2 align="center">THUYẾT PHÁP</h2>
<div class = "thuyetphap">
	<br>
	<div class = "lotus">
		<%= image_tag('lotus.png', :size => '80x30' ) %>
	</div>
	<br>
	<p> Xin vui lòng liên lạc Thiền Viện Vô Ưu để thỉnh những băng giảng, kinh sách và dụng cụ toạ thiền ở số (408) 683 4498 hoặc gởi email đến <b>vouuthienvien@yahoo.com</b></p>
	<br>
	<p>Ban biên tập tổ chức các bài thuyết pháp dưới dạng Track. Mỗi Track được định dạng theo chuẩn MP3.</p>
	<br>
	<p> Mỗi bài pháp, quý vị có thể <b>nghe trực tiếp</b> (chọn nút <b>Play</b>) hay (<b>Save</b>) theo các bước sau đây:</p>
	<p> - Đưa con trỏ đến nút track mình muốn.</p>
	<p> - Nhấp phải mouse, trong khung cửa sổ chọn Save Target As </p>
	<p> - Chọn đường dẫn để chứa file cần save.</p>
	<div class = "danhsachbaiphap">
		<p style = "bold"><font color="#f93f78"> Danh Sách Các Bài Pháp</font></p>
		<div class = "link">
			<a href = "http://thientongvn.net/index.php", target = "_blank"><p>01) Những bài pháp của HT Thích Thanh Từ.</p></a>
			<p class = "link"><%= link_to('02) Những bài pháp ngắn của NS Thích Nữ Đồng Kính.', {:action => 'phapngan', :title => 'Những bài pháp ngắn của NS Thích Nữ Đồng Kính'}) %></p>
			<p class = "link"><%= link_to('03) Những bài pháp về Kinh - Luận - Ngữ Lục của NS Thích Nữ Đồng Kính.',{ :action => 'kinhluannguluc', :title => 'Những bài pháp về Kinh - Luận - Ngữ Lục của NS Thích Nữ Đồng Kính'} ) %></p>
			<p class = "link"><%= link_to '04) Những bài pháp trong các khoá tu học của NS Thích Nữ Đồng Kính.', :action => 'tuhoc', :title => 'Những bài pháp trong các khoá tu học của NS Thích Nữ Đồng Kính' %> </p>
			<p class = "link"><%= link_to '05) Phật pháp căn bản.', :action => 'phatphapcanban', :title => 'Phật pháp căn bản' %></p>
			<p class = "link"><%= link_to '06) Những bài pháp của chư Tôn Thiền Đức.', :action => 'thienduc', :title => 'Những bài pháp của chư Tôn Thiền Đức' %></p>
			<p class = "link"><%= link_to '07) Giới luật.', :action => 'gioiluat', :title => 'Giới luật' %></p>
			<p class = "link"><%= link_to '08) Duy Thức Học.', :action => 'duythuchoc', :title => 'Duy Thức Học' %></p>
			<p class = "link"><%= link_to '09) Sám Hối 6 Căn.', :action => 'samhoi', :title => 'Sám Hối 6 Căn' %></p>
		</div>
	</div>
</div>

<%= render(:partial => "footer") %>
