<%= render(:partial => "header") %>
<%= render(:partial => "menubar") %>
<br>
<h2 align="center">PHIM VIDEO </h2>
<div class = "video">
	<br>
	<div class = "lotus">
		<%= image_tag('lotus.png', :size => '80x30' ) %>
	</div>
	<br>
	<table>
		<tr>	
			<th> STT </th>
			<th> Tựa Đề </th>
			<th> Ngày Đăng </th>
			<th> Phần </th>
		</tr>
		<tr class = "even">
			<td>1</td>
			<td>Gieo Hạt Từ Bi(Playlist 1-2)</td>
			<td>11/11/2015</td>
			<td>
				<div class = "track_button"><%= link_to('<p>1</p>'.html_safe, {:action => 'video_play', :type => 'https://www.youtube.com/embed/3uSB2HBdYXY?list=PL3SSB-HUMuv7aB41i13fQ4tO_NjR24hw3', :title => 'Gieo Hạt Từ Bi(Playlist 1-2)'}) %>
				</div>
			</td>
		</tr>
		
		<tr class = "odd">
			<td>2</td>
			<td>Luân Hồi 1 & 2 (Playlist 1-4)</td>
			<td>11/11/2015</td>
			<td>
				<div class = "track_button"><%= link_to('<p>1</p>'.html_safe, {:action => 'video_play', :type => 'https://www.youtube.com/embed/7V-rfOEqRFs?list=PL3SSB-HUMuv7kMs_YJQjEppLTJHPWaroL', :title => 'Luân Hồi 1 & 2 (Playlist 1-4)'}) %>
				</div>
			</td>
		</tr>
		<tr class = "even">
			<td>3</td>
			<td>Thiểu Dục Tri Túc (Playlist 1-2)</td>
			<td>11/11/2015</td>
			<td>
				<div class = "track_button"><%= link_to('<p>1</p>'.html_safe, {:action => 'video_play', :type => 'https://www.youtube.com/embed/MUyRuYXT1Yg?list=PL3SSB-HUMuv6t_FLfQ5w_93-pB-2sueQF', :title => 'Thiểu Dục Tri Túc (Playlist 1-2)'} ) %>
				</div>
			</td>
		</tr>
		<tr class = "odd">
			<td>4</td>
			<td>Tụng Kinh, Trì Chú, Niệm Phật, Thiền Định (Playlist 1-2)</td>
			<td>09/04/2015</td>
			<td>
				<div class = "track_button"><%= link_to('<p>1</p>'.html_safe, {:action => 'video_play', :type => 'https://www.youtube.com/embed/DTsmu6DGU2c?list=PL3SSB-HUMuv6Yr5K7bGtOrRNBFoJ54F5R', :title => 'Tụng Kinh, Trì Chú, Niệm Phật, Thiền Định (Playlist 1-2)'}) %>
				</div>
			</td>
			
		</tr>
		<tr class = "even">
			<td>5</td>
			<td>Ăn Chay (Playlist 1-2)</td>
			<td>09/04/2015</td>
			<td>
				<div class = "track_button"><%= link_to('<p>1</p'.html_safe, {:action => 'video_play', :type => 'https://www.youtube.com/embed/9iVEuERw2AI?list=PL3SSB-HUMuv6rlUbveEQjotDw4SfZFkNy', :title => 'Ăn Chay (Playlist 1-2)'}) %>
				</div>
			</td>
			
		</tr>
		<tr class = "odd">
			<td>6</td>
			<td>Độc Lập (Playlist 1-2)</td>
			<td>09/04/2015</td>
			<td>
				<div class ="track_button"><%= link_to('<p>1</p>'.html_safe, {:action => 'video_play', :type => 'https://www.youtube.com/embed/vYx5bTtq-EA?list=PL3SSB-HUMuv7TgEUNeCHXWDAvalnXMud6', :title => 'Độc Lập (Playlist 1-2)'}) %>
				</div>
			</td>	
		</tr>
		<tr class = "even">
			<td>7</td>
			<td>Hóa Độ (Playlist 1-2)</td>
			<td>09/04/2015</td>
			<td>
				<div class = "track_button"><%= link_to('<p>1</p>'.html_safe, {:action => 'video_play', :type => 'https://www.youtube.com/embed/1hoEg8JCr7c?list=PL3SSB-HUMuv4sN-De5DJ5Ycjt9jFGZrX7', :title => 'Hóa Độ (Playlist 1-2)'}) %>
				</div>
			</td>
		</tr>
		<tr class = "odd">
			<td>8</td>
			<td>Lịch Sử Đức Phật Từ Đản Sanh Và Niết Bàn (Playlist 1-2)</td>
			<td>09/04/2015</td>
			<td>
				<div class = "track_button"><%= link_to('<p>1</p>'.html_safe, {:action => 'video_play', :type => 'https://www.youtube.com/embed/Ju1NjRzF8k4?list=PL3SSB-HUMuv4phFDZXeTFaUtlr2gApHWo', :title => 'Lịch Sử Đức Phật Từ Đản Sanh Và Niết Bàn (Playlist 1-2)'}) %>
				</div>
			</td>
			
		</tr>
		<tr class = "even">
			<td>9</td>
			<td>Thờ Phật, Lạy Phật, Cúng Phật (Playlist 1-2)</td>
			<td>09/04/2015</td>
			<td>
				<div class = "track_button"><%= link_to('<p>1</p>'.html_safe, {:action => 'video_play', :type => 'https://www.youtube.com/embed/TVfoWKRfQSs?list=PL3SSB-HUMuv7p9LfaYX_qCG9zoSQ_Etrw', :title => 'Thờ Phật, Lạy Phật, Cúng Phật (Playlist 1-2)'}) %>
				</div>
			</td>
			
		</tr>
		<tr class = "odd">
			<td>10</td>
			<td>Vô Thường 1 & 2 (Playlist 1-4)</td>
			<td>09/04/2015</td>
			<td>
				<div class = "track_button"><%= link_to('<p>1</p>'.html_safe,{:action => 'video_play', :type => 'https://www.youtube.com/embed/y5qU3T4QDJc?list=PL3SSB-HUMuv5K6CEtpACDNEZOX1GEiN5n', :title => 'Vô Thường 1 & 2 (Playlist 1-4)'}) %>
				</div>
			</td>
			
		</tr>
		<tr class = "even">
			<td>11</td>
			<td>Sám Hối - Ni Sư Đồng Kính (Playlist 1-2)</td>
			<td>05/13/2015</td>
			<td>
				<div class = "track_button"><%= link_to('<p>1</p>'.html_safe, {:action => 'video_play', :type => 'https://www.youtube.com/embed/ZJuWQ8K3N6c?list=PL3SSB-HUMuv6BogThSsJ7pGtorMpVZvED', :title => 'Sám Hối - Ni Sư Đồng Kính (Playlist 1-2)'}) %>
				</div>
			</td>
			
		</tr>
		<tr class = "odd">
			<td>12</td>
			<td>Ngũ Giới 2 - Ni Sư Đồng Kính</td>
			<td>05/13/2015</td>
			<td>
				<div  class = "track_button"><%= link_to '<p>1</p>'.html_safe, :action => 'video_play', :type => 'https://www.youtube.com/embed/PVbQ5JxNm-g?list=PL3SSB-HUMuv4qfGXavVbzEkX6NwY1BbFH', :title => 'Ngũ Giới 2 - Ni Sư Đồng Kính - Phần 1'  %></div>
				<div class = "track_button"><%= link_to '<p>2</p>'.html_safe, :action => 'video_play', :type => 'https://www.youtube.com/embed/Me_6_i9nmRg?list=PL3SSB-HUMuv4qfGXavVbzEkX6NwY1BbFH', :title => 'Ngũ Giới 2 - Ni Sư Đồng Kính - Phần 2' %></div>
			</td>
			
		</tr>
		<tr class = "even">
			<td>13</td>
			<td>Ngũ Giới 3 - Ni Sư Đồng Kính </td>
			<td>05/13/2015</td>
			<td>
				<div  class = "track_button"><%= link_to('<p>1</p>'.html_safe,{:action => 'video_play', :type => 'https://www.youtube.com/embed/r-QOszZASDg?list=PL3SSB-HUMuv4qfGXavVbzEkX6NwY1BbFH', :title => 'Ngũ Giới 3 - Ni Sư Đồng Kính - Phần 1'} ) %>
				</div>
				<div class = "track_button"><%= link_to('<p>2</p>'.html_safe, {:action => 'video_play', :type => 'https://www.youtube.com/embed/3MVFvmpwcdU?list=PL3SSB-HUMuv4qfGXavVbzEkX6NwY1BbFH', :title => 'Ngũ Giới 3 - Ni Sư Đồng Kính - Phần 2'}) %>
				</div>
			</td>
			
		</tr>
		<tr class = "odd">
			<td>14</td>
			<td class = "link"><%= link_to('Đạo Phật 1 - Ni Sư Đồng Kính') %></td>
			<td>04/14/2015</td>
		</tr>
		<tr class = "even">
			<td>15</td>
			<td class = "link"><%= link_to('Đạo Phật 2 - Ni Sư Đồng Kính') %></td>
			<td>04/14/2015</td>
		</tr>
		<tr class = "odd">
			<td>16</td>
			<td class = "link"><%= link_to('Quy Y Tam Bảo 1 - Ni Sư Đồng Kính') %></td>
			<td>04/14/2015</td>
		</tr>
		<tr class = "even">
			<td>17</td>
			<td class = "link"><%= link_to('Quy Y Tam Bảo 2 - Ni Sư Đồng Kính') %></td>
			<td>04/14/2015</td>
		</tr>
		<tr class = "odd">
			<td>18</td>
			<td class = "link"><%= link_to('Quy Y Tam Bảo 3 - Ni Sư Đồng Kính') %></td>
			<td>05/01/2015</td>
		</tr>
		<tr class = "even">
			<td>19</td>
			<td class = "link"><%= link_to('Ba Thân - Ni Sư Đồng Kính') %></td>
			<td>01/05/2015</td>
		</tr>
		<tr class = "odd">
			<td>20</td>
			<td class = "link"><%= link_to('Tu Vô Tu - Ni Sư Đồng Kính') %></td>
			<td>01/05/2015</td>
		</tr>
		<tr class = "even">
			<td>21</td>
			<td class = "link"><%= link_to('Giáo Lý Hiển Bày Chơn Tâm - Ni Sư Đồng Kính') %></td>
			<td>12/24/2014</td>
		</tr>
		<tr class = "odd">
			<td>22</td>
			<td class = "link"><%= link_to('Tông Dứt Bặt Không Chỗ Nương - Ni Sư Đồng Kính') %></td>
			<td>12/24/2014</td>
		</tr>
		<tr class = "even">
			<td>23</td>
			<td class = "link"><%= link_to('Đối Chiếu Thiền Và Giáo - Ni Sư Đồng Kính') %></td>
			<td>12/24/2014</td>
		</tr>
		<tr class = "odd">
			<td>24</td>
			<td class = "link"><%= link_to('Vào Cửa Không - Ni Sư Đồng Kính') %></td>
			<td>12/24/2014</td>
		</tr>
		<tr class = "even">
			<td>25</td>
			<td class = "link"><%= link_to('Chỉ Ông Chủ 1 - Ni Sư Đồng Kính') %></td>
			<td>12/24/2014</td>
		</tr>
		<tr class = "odd">
			<td>26</td>
			<td class = "link"><%= link_to('Chỉ Ông Chủ 2 - Ni Sư Đồng Kính') %></td>
			<td>05/01/2015</td>
		</tr>
		<tr class = "even">
			<td>27</td>
			<td class = "link"><%= link_to('Chỉ Ông Chủ 3 - Ni Sư Đồng Kính') %></td>
			<td>12/17/2014</td>
		</tr>
		<tr class = "odd">
			<td>28</td>
			<td class = "link"><%= link_to('Vào Cổng Chùa - Ni Sư Đồng Kính') %></td>
			<td>12/17/2014</td>
		</tr>
		<tr class = "even">
			<td>29</td>
			<td class = "link"><%= link_to('Dứt Mê Diệt Khổ - Ni Sư Đồng Kính') %></td>
			<td>12/17/2014</td>
		</tr>
		<tr class = "odd">
			<td>30</td>
			<td class = "link"><%= link_to('Chơn Không Diệu Hữu 1 - Ni Sư Đồng Kính') %></td>
			<td>12/17/2014</td>
		</tr>
		<tr class = "even">
			<td>31</td>
			<td class = "link"><%= link_to('Chơn Không Diệu Hữu 2 - Ni Sư Đồng Kính') %></td>
			<td>12/17/2014</td>
		</tr>
		<tr class = "odd">
			<td>32</td>
			<td class = "link"><%= link_to('Đại Lễ Phật Đản 2013') %></td>
			<td>05/25/2014</td>
		</tr>
		<tr class = "even">
			<td>33</td>
			<td class = "link"><%= link_to('Đại Lễ Kỷ Niệm Vô Ưu 10 Tuổi') %></td>
			<td>08/12/2014</td>
		</tr>
		<tr class = "odd">
			<td>34</td>
			<td class = "link"><%= link_to('Đại Lễ Vu Lan 2012') %></td>
			<td>02/08/2013</td>
		</tr>
		<tr class = "even">
			<td>35</td>
			<td class = "link"><%= link_to('Đại Lễ Phật Đản 2012') %></td>
			<td>09/12/2012</td>
		</tr>
		<tr class = "odd">
			<td>36</td>
			<td class = "link"><%= link_to('Đại Lễ Phật Đản 2011') %></td>
			<td>08/23/2011</td>
		</tr>
		<tr class = "even">
			<td>37</td>
			<td class = "link"><%= link_to('Đại Lễ Vu Lan 2010') %></td>
			<td>12/14/2010</td>
		</tr>
		<tr class = "odd">
			<td>38</td>
			<td class = "link"><%= link_to('Đại Lễ Phật Đản 2010') %></td>
			<td>09/04/2010</td>
		</tr>
		<tr class = "even">
			<td>39</td>
			<td class = "link"><%= link_to('Xuân 2010') %></td>
			<td>05/26/2010</td>
		</tr>
	</table>
	
</div>
<br>
<%= render(:partial => "footer") %>