<%= render(:partial => "header") %>
<%= render(:partial => "menubar") %>
<br>
<h2 align = "center"> <%= raw @title %> </h2>
<div class = "playvideo">
	<br>
	<div class = "lotus">
		<%= image_tag('lotus.png', :size => '80x30' ) %>
	</div>
	<!-- <p><%= instance_variable_get("@link") %></p> -->
	<div class= "frame"><iframe width="1280" height="720" src="<%= raw @link %>" frameborder="0" allowfullscreen></iframe>  
	</div>
	<!-- we can use "h @link" or "@link.html_safe" -->
</div>
<br>
<%= render(:partial => "footer") %>