<%= render(:partial => "header") %>
<%= render(:partial => "menubar") %>
<br>
<h2 align="center">PHIM VIDEO </h2>
<div class = "video">
	<br>
	<div class = "lotus">
		<%= image_tag('lotus.png', :size => '80x30' ) %>
	</div>
	<br>
	<table>
		<tr>
			<th> Tựa Đề </th>
			<th> Ngày Đăng </th>
		</tr>
		<tr class = "even">
			<td class = "link"><%= link_to('Gieo Hạt Từ Bi(Playlist 1-2)') %></td>
			<td>11/11/2015</td>
		</tr>
		<tr class = "odd">
			<td class = "link"><%= link_to('Luân Hồi 1 & 2 (Playlist 1-4)') %></td>
			<td>11/11/2015</td>
		</tr>
		<tr class = "even">
			<td class = "link"><%= link_to('Thiểu Dục Tri Túc (Playlist 1-2)') %></td>
			<td>11/11/2015</td>
		</tr>
		<tr class = "odd">
			<td class = "link"><%= link_to('Tụng Kinh, Trì Chú, Niệm Phật, Thiền Định (Playlist 1-2)') %></td>
			<td>09/04/2015</td>
		</tr>
		<tr class = "even">
			<td class = "link"><%= link_to('Ăn Chay (Playlist 1-2)') %></td>
			<td>09/04/2015</td>
		</tr>
		<tr class = "odd">
			<td class = "link"><%= link_to('Độc Lập (Playlist 1-2)') %></td>
			<td>09/04/2015</td>
		</tr>
		<tr class = "even">
			<td class = "link"><%= link_to('Hóa Độ (Playlist 1-2)') %></td>
			<td>09/04/2015</td>
		</tr>
		<tr class = "odd">
			<td class = "link"><%= link_to('Lịch Sử Đức Phật Từ Đản Sanh Và Niết Bàn (Playlist 1-2)') %></td>
			<td>09/04/2015</td>
		</tr>
		<tr class = "even">
			<td class = "link"><%= link_to('Thờ Phật, Lạy Phật, Cúng Phật (Playlist 1-2)') %></td>
			<td>09/04/2015</td>
		</tr>
		<tr class = "odd">
			<td class = "link"><%= link_to('Vô Thường 1 & 2 (Playlist 1-4)') %></td>
			<td>09/04/2015</td>
		</tr>
		<tr class = "even">
			<td class = "link"><%= link_to('Sám Hối - Ni Sư Đồng Kính (Playlist 1-2)') %></td>
			<td>05/13/2015</td>
		</tr>
		<tr class = "odd">
			<td class = "link"><%= link_to('Ngũ Giới 2 - Ni Sư Đồng Kính') %></td>
			<td>05/13/2015</td>
		</tr>
		<tr class = "even">
			<td class = "link"><%= link_to('Ngũ Giới 3 - Ni Sư Đồng Kính') %></td>
			<td>05/13/2015</td>
		</tr>
		<tr class = "odd">
			<td class = "link"><%= link_to('Đạo Phật 1 - Ni Sư Đồng Kính') %></td>
			<td>04/14/2015</td>
		</tr>
		<tr class = "even">
			<td class = "link"><%= link_to('Đạo Phật 2 - Ni Sư Đồng Kính') %></td>
			<td>04/14/2015</td>
		</tr>
		<tr class = "odd">
			<td class = "link"><%= link_to('Quy Y Tam Bảo 1 - Ni Sư Đồng Kính') %></td>
			<td>04/14/2015</td>
		</tr>
		<tr class = "even">
			<td class = "link"><%= link_to('Quy Y Tam Bảo 2 - Ni Sư Đồng Kính') %></td>
			<td>04/14/2015</td>
		</tr>
		<tr class = "odd">
			<td class = "link"><%= link_to('Quy Y Tam Bảo 3 - Ni Sư Đồng Kính') %></td>
			<td>05/01/2015</td>
		</tr>
		<tr class = "even">
			<td class = "link"><%= link_to('Ba Thân - Ni Sư Đồng Kính') %></td>
			<td>01/05/2015</td>
		</tr>
		<tr class = "odd">
			<td class = "link"><%= link_to('Tu Vô Tu - Ni Sư Đồng Kính') %></td>
			<td>01/05/2015</td>
		</tr>
		<tr class = "even">
			<td class = "link"><%= link_to('Giáo Lý Hiển Bày Chơn Tâm - Ni Sư Đồng Kính') %></td>
			<td>12/24/2014</td>
		</tr>
		<tr class = "odd">
			<td class = "link"><%= link_to('Tông Dứt Bặt Không Chỗ Nương - Ni Sư Đồng Kính') %></td>
			<td>12/24/2014</td>
		</tr>
		<tr class = "even">
			<td class = "link"><%= link_to('Đối Chiếu Thiền Và Giáo - Ni Sư Đồng Kính') %></td>
			<td>12/24/2014</td>
		</tr>
		<tr class = "odd">
			<td class = "link"><%= link_to('Vào Cửa Không - Ni Sư Đồng Kính') %></td>
			<td>12/24/2014</td>
		</tr>
		<tr class = "even">
			<td class = "link"><%= link_to('Chỉ Ông Chủ 1 - Ni Sư Đồng Kính') %></td>
			<td>12/24/2014</td>
		</tr>
		<tr class = "odd">
			<td class = "link"><%= link_to('Chỉ Ông Chủ 2 - Ni Sư Đồng Kính') %></td>
			<td>05/01/2015</td>
		</tr>
		<tr class = "even">
			<td class = "link"><%= link_to('Chỉ Ông Chủ 3 - Ni Sư Đồng Kính') %></td>
			<td>12/17/2014</td>
		</tr>
		<tr class = "odd">
			<td class = "link"><%= link_to('Vào Cổng Chùa - Ni Sư Đồng Kính') %></td>
			<td>12/17/2014</td>
		</tr>
		<tr class = "even">
			<td class = "link"><%= link_to('Dứt Mê Diệt Khổ - Ni Sư Đồng Kính') %></td>
			<td>12/17/2014</td>
		</tr>
		<tr class = "odd">
			<td class = "link"><%= link_to('Chơn Không Diệu Hữu 1 - Ni Sư Đồng Kính') %></td>
			<td>12/17/2014</td>
		</tr>
		<tr class = "even">
			<td class = "link"><%= link_to('Chơn Không Diệu Hữu 2 - Ni Sư Đồng Kính') %></td>
			<td>12/17/2014</td>
		</tr>
		<tr class = "odd">
			<td class = "link"><%= link_to('Đại Lễ Phật Đản 2013') %></td>
			<td>05/25/2014</td>
		</tr>
		<tr class = "even">
			<td class = "link"><%= link_to('Đại Lễ Kỷ Niệm Vô Ưu 10 Tuổi') %></td>
			<td>08/12/2014</td>
		</tr>
		<tr class = "odd">
			<td class = "link"><%= link_to('Đại Lễ Vu Lan 2012') %></td>
			<td>02/08/2013</td>
		</tr>
		<tr class = "even">
			<td class = "link"><%= link_to('Đại Lễ Phật Đản 2012') %></td>
			<td>09/12/2012</td>
		</tr>
		<tr class = "odd">
			<td class = "link"><%= link_to('Đại Lễ Phật Đản 2011') %></td>
			<td>08/23/2011</td>
		</tr>
		<tr class = "even">
			<td class = "link"><%= link_to('Đại Lễ Vu Lan 2010') %></td>
			<td>12/14/2010</td>
		</tr>
		<tr class = "odd">
			<td class = "link"><%= link_to('Đại Lễ Phật Đản 2010') %></td>
			<td>09/04/2010</td>
		</tr>
		<tr class = "even">
			<td class = "link"><%= link_to('Xuân 2010') %></td>
			<td>05/26/2010</td>
		</tr>
	</table>
</div>
<br>
<%= render(:partial => "footer") %>